{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
        <div class="container bg-success" style="margin-bottom:50px; margin-top:50px; padding:20px;">
            <h1 class="text-center text-white">{{ book.title  }}</h1>
        </div>
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Summary</h1>
            </div>
            <div class="card-body">
                <p>{{ book.summary }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'fitur_premium:index_premium' %}" class="btn btn-primary btn-block mt-3">Kembali</a>
            </div>
        </div>
</div>



{% endblock content %}