{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Selamat Datang di Manage Buku</h1>
                <select id="myDropdown">
				  <option value="tidak_ada_filter" selected>Silahkan Pilih Filter</option>
				  <option value="fantasy">fantasy</option>
				  <option value="science">science</option>
				  <option value="crime">crime</option>
				  <option value="history">history</option>
				  <option value="horror">horror</option>
				  <option value="thriller">thriller</option>
				  <option value="psychology">psychology</option>
				  <option value="romance">romance</option>
				  <option value="sports">sports</option>
				  <option value="travel">travel</option>
				</select>
				<button type="button" class="btn btn-primary" id="button_filter" data-bs-dismiss="modal">Filter</button>
            </div>
            <div class="card-body">
                <table class="table" id="buku_table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genre</th>
                            <th>Ketersediaan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Data will be inserted here dynamically -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        async function getProducts(hasil_filter) {
			const baseUrl = "{% url 'sistem_manajemen:get_buku_json' 0 %}";
            return fetch(`${baseUrl.replace('0', hasil_filter)}`).then((res) => res.json());
        }
        async function refreshProducts() {
			const baseurl = "{% url 'sistem_manajemen:edit_ketersediaan_buku' 0 %}";
            const tableBody = document.querySelector("#buku_table tbody");
            tableBody.innerHTML = "";
            let dropdown = document.getElementById("myDropdown");
            let filter = "tidak_ada_filter";
			filter = dropdown.value;
            const products = await getProducts(filter);

            products.forEach((item) => {
                const row = document.createElement("tr");
                row.innerHTML = `
                    <td>${item.fields.title}</td>
                    <td>${item.fields.genre}</td>
                    <td>${item.fields.ketersediaan}</td>
                    <td>
						<a href="${baseurl.replace('0', item.pk)}">
							<button class="btn btn-primary">
								Ganti Status
							</button>
						</a>
					</td>
                `;
                tableBody.appendChild(row);
            });
        }
        refreshProducts();
        document.getElementById("button_filter").onclick = refreshProducts;
    </script>
{% endblock content %}
