{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">List Peminjaman</h1>
                <table class="table" id="ruangan_table">
                    <!-- Table data will be inserted here -->
                </table>
            </div>
        </div>
    </div>

   
   
    <script>
        async function getProducts() {
            return fetch("{% url 'sistem_manajemen:get_peminjaman_json' %}").then((res) => res.json())
        }
        const baseUrl = "{% url 'sistem_manajemen:edit_peminjaman' 0 %}";
        async function refreshProducts() {
            const table = document.getElementById("ruangan_table");
            table.innerHTML = "";
            const products = await getProducts();
            let htmlString = `<thead>
                <tr>
					<th>Judul  buku</th>
                    <th>Tanggal Pinjam</th>
                    <th>Tanggal Pembelian</th>
                    <th>Status Penerimaan</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>`;

            products.forEach((item) => { 
				const text = item.fields.buku;
                htmlString += `<tr>
					<td>${item.fields.buku}</td>
					<td>${item.fields.tanggal_peminjaman}</td>
                    <td>${item.fields.tanggal_pengembalian}</td>
                    <td>${item.fields.status_acc}</td>
                    <td>
						<a href="${baseUrl.replace('0', item.pk)}">
							<button class="btn btn-primary">
								Terima
							</button>
						</a>
					</td>
                </tr>`;
            });

            htmlString += `</tbody>`;
            table.innerHTML = htmlString;
        }

        refreshProducts();
        
    </script>
{% endblock content %}
