{% extends 'base.html' %} {% block content %}
<h1>Bantuan</h1>
<div id="reports"></div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bookReportModal">Laporan</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#complaintModal">Aduan/Saran</button>
<div class="modal fade" id="bookReportModal" tabindex="-1" aria-labelledby="bookReportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookReportModalLabel">Laporan Buku</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %} {% for book in borrowed.book reversed %}
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">{{book.title}}</h5>
                            <p class="card-text">
                                Tangal Peminjaman: {{borrowed.tanggal_peminjaman}}
                            </p>
                            <select class="status" id={{book.pk}}>
                                <option value="">Opsi</option>
                                <option value="broken">Rusak</option>
                                <option value="lost">Hilang</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Buat Laporan</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="complaintModal" tabindex="-1" aria-labelledby="complaintModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="complaintModalLabel">Aduan/Saran</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <textarea class="form-control" id="description" name="description" value="Deskripsi"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Buat Aduan/Saran</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getReports() {
        return fetch("{% url 'customer_service:get_reports_json' %}").then((res) => res.json())
    }

    async function getBooksByIds(ids) {
        return fetch(`{% url 'customer_service:get_books_json_by_ids' %}?ids=ids`).then((res) => res.json());
    }

    async function refreshReports() {
        document.getElementById("reports").innerHTML = ""
        const reports = await getReports()
        let htmlString = ``
        reports.forEach((report) => {
            htmlString += `\n<div class="card border-primary mb-3" style="width: 12rem; text-align: center">
                <div class="card-body text-primary">
                    <h5 class="card-title">Laporan ${report.pk}</h5>
                    <h7 class="card-text">${report.fields.report_date}</h7>
                    <p class="card-text">${report.fields.message}</p>
                </div>
            </div>`
        })
        document.getElementById("reports").innerHTML = htmlString
    }
    refreshReports()

    function addReport() {
        var losts = [];
        var brokens = [];
        var selectElements = document.querySelectorAll(".status");
        selectElements.forEach(function(select) {
            if (select.value === "lost") {
                losts.push(parseInt(select.id));
            } else if (select.value === "broken") {
                brokens.push(parseInt(select.id));
            }
        });
        if (losts.length === 0 && brokens.length === 0) {
            $('#bookReportModal').modal('hide');
            return false;
        }
        fetch("{% url 'customer_service:add_report' %}", {
            method: "POST",
            body: JSON.stringify({
                brokens: brokens,
                losts: losts
            })
        }).then(refreshReports)
        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addReport
</script>{% endblock content %}